@import url('../_variaveis.css');

.list-requisitos{
    padding: 12px 0;
}

.list-requisitos>li{
    display: flex;
    align-items: center;
    gap: 8px;
}

#criar{
    margin-top: 25px;
}

span{
    color: var(--erro-texto);
}

.mensage-sucess{
    border: 1px solid green;
    box-shadow: 0px 4px 15px 0px rgba(44, 63, 88, 0.35);
    border-radius: 4px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    margin: 100px 180px;
    display: none;
}

.header-mensage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: green;
    padding: 16px;
}

.btnClose{
    color: #fff;
    cursor: pointer;
}

.body-mensage{
    padding: 16px;
    background-color: rgb(245, 245, 224);
    font-size: 22px;
    text-align: center;
}

