@import url('./_variaveis.css');

.form-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensagem-erro{
    background-color: var(--erro-background);
    border-radius: 6px;
    margin-bottom: 20px;
    color: var(--erro-texto);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    display: none;
}