.form-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensagem-erro{
    width: 760px;
    background-color: rgb(226, 158, 158);
    border-radius: 6px;
    margin-bottom: 20px;
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    display: none;
}