.star {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}
.star1 {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}
.star2 {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}
.star3 {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.rating {
    display: flex;
    justify-content: center;
}

.rating1 {
    display: flex;
    justify-content: center;
}

.rating2 {
    display: flex;
    justify-content: center;
}

.rating3 {
    display: flex;
    justify-content: center;
}
